<h1>Zadaci:</h1>
<div class="wrapper" style="width: 100%; height: 100%;">
    <table>
        <tr *ngFor="let task of paperReviewTasks" > <td>{{task.name}}</td><td>{{task.assignee}}</td><td><button (click)="claimPaperReviweTask(task.taskId)">Preuzmi</button></td></tr>
    </table>
    <table>
        <tr *ngFor="let task of chooseReviewerTasks" > <td>{{task.name}}</td><td>{{task.assignee}}</td><td><button (click)="claimChooseReviewerTask(task.taskId)">Preuzmi</button></td></tr>
    </table>
</div>