<nav class="navbar navbar-expand" style="background-color:#23344B">
  <a class="navbar-brand" [routerLink]="['']" style="color: white">Naucna centrala</a>
      <ul class="navbar-nav mr-auto">

        <!-- AUTHOR -->
        <li class="nav-item" *ngIf="isAuthor">
          <a class="nav-link" [routerLink]="['/homepage/author']">Radovi</a>
        </li>
        <!-- AUTHOR -->

        <!-- ADMIN -->
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link">Urednici</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" [routerLink]="['/homepage/admin/reviewer']" >Recenzenti</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" [routerLink]="['/homepage/admin/magazines']" >Casopisi</a>
        </li>
      
        <!-- ADMIN -->

        <!-- EDITOR -->
      <li class="nav-item active" *ngIf="isEditor">
          <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink='/homepage/editor'>Casopisi</a>
      </li>
      <li class="nav-item active" *ngIf="isEditor">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink='/homepage/editor/papers'>Radovi</a>
    </li>
        <!-- EDITOR -->
      </ul>
  <div class="d-flex flex-row-reverse">
   
    <button class="btn" [routerLink]="['/registration']" *ngIf="!isLoggedIn"> Registracija</button>
    <button class="btn" [routerLink]="['/login']" *ngIf="!isLoggedIn">Prijava</button>
    <button class="btn" (click)="logOut()" *ngIf="isLoggedIn">Odjava</button>
    <button class="btn" [routerLink]="['/homepage/user-profile']" *ngIf="isLoggedIn && isCustomer">Moj profil</button>
    <button class="btn" [routerLink]="['/homepage/search']"><span style="margin-right: 5px;"><i class="fa fa-search" aria-hidden="true"></i></span>Pretraga</button>
  </div>
  </nav>
  
  <div class="container">

    <router-outlet></router-outlet>

  </div>