<nav class="navbar navbar-expand" style="background-color:#23344B">
  <a class="navbar-brand" [routerLink]="['/homepage']" style="color: white">Naucna centrala</a>
    <ul class="navbar-nav mr-auto">
    </ul>
  <div class="d-flex flex-row-reverse">
    <button class="btn" [routerLink]="['/registration']" *ngIf="!isLoggedIn">Register</button>
    <button class="btn" [routerLink]="['/login']" *ngIf="!isLoggedIn">Login</button>
    <button class="btn" (click)="logOut()" *ngIf="isLoggedIn">Logout</button>
  </div>
  </nav>
  
  <div class="container">


  </div>