<nav class="navbar navbar-expand" style="background-color:#23344B">
    <a class="navbar-brand" [routerLink]="['/admin']" style="color: white">Naucna centrala</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link">Urednici</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin/reviewer']" >Recenzenti</a>
        </li>
      </ul>
    <div class="d-flex flex-row-reverse">
      <button class="nav-item" [routerLink]="['/login']" *ngIf="!isLoggedIn">Login</button>
      <button class="nav-item" (click)="logOut()" *ngIf="isLoggedIn">Logout</button>
    </div>
    </nav>
    
    <div class="container">
    
      <router-outlet></router-outlet>

    </div>