<div class="wrapper d-flex justify-content-center">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativateValidate> 
  
        <div *ngFor="let field of formFields">
            
            <label for={{field.id}}> {{field.label}} </label>
            
            <select multiple name={{field.id}} *ngIf="field.type.name=='enum' && field.id == 'urednici' " ngModel class="form-control">
              <option *ngFor="let val of urednici" value={{val}}>
                {{field.type.values[val]}}
              </option>
            </select>

            <select multiple name={{field.id}} *ngIf="field.type.name=='enum' && field.id=='recenzenti' " ngModel class="form-control">
                <option *ngFor="let val of recenzenti" value={{val}}>
                  {{field.type.values[val]}}
                </option>
              </select>
      </div>
  
      <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">Potvrdi</button>
      </div>
      </form>    
</div>
