<div class="container pt-5">
    <!-- <div class="btn btn-dark" (click)="onRegister()">Registracija</div> -->
      <h3 class="mt-5" style="margin-bottom:50px">NAUČNI ČASOPISI</h3>
      <!-- <div class="card mt-5 mb-5" *ngFor="let magazine of magazines">
          <div class="card-body">
            <h5 class="card-title">{{magazine.name}}</h5>
            <p class="card-text">{{magazine.issn}}</p>
            <h4><strong>1000</strong> USD</h4>
            <button class="btn btn-primary mt-4" (click)="onBuy(r)">Kupi</button>
            <button class="btn btn-primary mt-4 plan" (click)="onPlan(r)">Napravi plan</button>
          </div>
        </div>
   -->

   <div class="row" *ngFor="let magazine of magazines">
        <section>
            <div class="row" style="width: 100%;">
            <div class="right-side">
                <p class="magazine-name">{{magazine.name}}</p>
                <p class="minor">{{magazine.chiefEditor}}</p>
                <!-- <div class="fields" *ngFor="let scienceField of magazine.scienceFieldList">
                    <p>{{scienceField}}</p>
                </div> -->
            </div>
            <div class="middle"><p></p></div>
            <div class="left-side d-flex align-items-end justify-content-end">
                <button class="btn btn-primary" (click)="showMagazine(magazine.id)">Pregled sadržaja</button>
            </div>
        </div>
        </section>  
        
    </div>

  </div>