h4 {
    color: darkgreen;
}

.plan {
    margin-left: 80%;
}

.right-side{
    width:30%;
}

section{
    margin-bottom:50px;
    width:100%;
    border-bottom:1px solid #e6e6e6;
}

.row{
    width:100%;
}

p.magazine-name{
    font-size: x-large;
    font-weight: 400;
}

p.minor{
    color: #666;
    font-size: 20px;
    margin-top: 0;
}

.middle{
    width:40%;
}

.left-side{
    width: 30%;
}

.btn {
    margin-bottom: 5px;
}