<div class="wrapper">

<h2 style="margin-top:70px">Pretraga radova</h2>
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)">
        <div class="row form-group">
          <div class="col">
            <label> Naziv časopisa </label>
            <input type="text" class="form-control" ngModel name="magazineName">
          </div>
          <div class="col">
            <label> Naslov rada </label>
            <input type="text" class="form-control" ngModel name="title">
          </div>
        </div>
        <div class="row form-group">
            <div class="col">
                <label> Ime i prezime autora </label>
              <input type="text" class="form-control" ngModel name="imePrezimeAutora">
            </div>
            <div class="col">
                <label> Ključni pojam </label>
              <input type="text" class="form-control" ngModel name="keyTerms">
            </div>
          </div>
          <div class="row form-group">
            <div class="col">
                <label> Sadržaj </label>
              <input type="text" class="form-control" placeholder="Unesite tekst" ngModel name="text">
            </div>
            <div class="col">
                <label> Naučna oblast </label>
              <input type="text" class="form-control" ngModel name="scienceField">
            </div>
          </div>
          <div class="row form-group">
            <div class="col">
              <button type="submit" class="btn btn-primary">Pretraži</button>
            </div>
          </div>
    </form>

<hr>

<div *ngFor="let sciencePaper of sciencePaperList" class="paper d-flex d-inline-flex">
  <div class="right-side">
      <p>{{ sciencePaper.title }}</p>
      <p>{{ sciencePaper.price }} {{sciencePaper.currency}}</p>
  </div>
</div>

</div>