<div class="wrapper">

<h2 style="margin-top:70px">Pretraga radova</h2>
    <form>
        <div class="row form-group">
          <div class="col">
            <label> Naziv časopisa </label>
            <input type="text" class="form-control">
          </div>
          <div class="col">
            <label> Naslov rada </label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="row form-group">
            <div class="col">
                <label> Ime i prezime autora </label>
              <input type="text" class="form-control">
            </div>
            <div class="col">
                <label> Ključni pojam </label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="row form-group">
            <div class="col">
                <label> Sadržaj </label>
              <input type="text" class="form-control" placeholder="Unesite tekst">
            </div>
            <div class="col">
                <label> Naučna oblast </label>
              <input type="text" class="form-control">
            </div>
          </div>
    
    </form>

<hr>

</div>