<!-- <form>

    <div class="form-group">
        <label>Korisnicko ime</label>
        <input type=text class="form-control">
    </div>

    <div class="form-group">
        <label>Sifra</label>
        <input type=password class="form-control">
    </div>

    <button >Submit</button>
</form> -->
<div class="main">
    
    
    <div class="container">
<div class="middle">
      <div id="login">

        <form [formGroup]="loginForm">

          <fieldset class="clearfix">
            
            <p><span class="fa fa-user"></span><input type="text" class="form-control" Placeholder="Korisnicko ime" required formControlName="username"> </p> <!-- JS because of IE support; better: placeholder="Username" -->
            <p><span class="fa fa-lock"></span><input type="password" class="form-control"  Placeholder="Sifra" required formControlName="password"></p> <!-- JS because of IE support; better: placeholder="Password" -->
            
             <div class="d-flex flex-row-reverse">
                <span style="width:100%; text-align:right;  display: inline-block;"><input type="submit" value="Login" (click)="onSubmit()"></span>
            </div>
          </fieldset>
          <div class="clearfix"></div>
        </form>

        <div class="clearfix"></div>

      </div> <!-- end login -->
      <div class="logo">Naucna centrala
          
          <div class="clearfix"></div>
      </div>
      
      </div>
    </div>

</div>