<div class="wrapper d-flex justify-content-center" style="width: 100%; height: 100%;">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativateValidate> 

        <div *ngFor="let field of formFields">
            <label for={{field.id}}> {{field.label}} </label>
            <input type="text" name={{field.id}} *ngIf="field.type.name == 'string'" class="form-control" [ngModel]=field.defaultValue>
        </div>

        <label for=pdf>PDF:</label>
        <input type="file" name=pdf class="form-control" ngModel (change)="handleFileInput($event.target.files)">

        <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">Potvrdi</button>
      </div>
      </form>    
</div>

