<div class="wrapper">
    <div class="d-flex justify-content-center">
      <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativateValidate> 

        <div *ngFor="let field of formFields">
        
          <label for={{field.id}}> {{field.label}} </label>
          <input type="text" name={{field.id}} *ngIf="field.type.name == 'string'" class="form-control" [ngModel]="field.defaultValue">
          <select name={{field.id}} *ngIf="field.type.name == 'enum'" class="form-control" ngModel>
            <option *ngFor="let val of odluka" value={{val}}>
              {{field.type.values[val]}}
            </option>
          </select>
        </div>
        
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">Potvrdi</button>
      </div>
      </form>

    </div>

    </div>

